body {
    background: #F5F5F5;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}
#library {

}
.comicDisplay{
    width:85%;
    margin: 50px auto;
}
.comicBlock{
    vertical-align: top;
    background: white;
    box-shadow: 0 1px 2px #DCDCDC;
/*}
.block{*/
    margin-bottom: 25px;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;

    width:23%;
}
.comicBlock img {
    width: 95%;
    height: auto;
    display: block;
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
}

.comicBlock .comicBlockInformation{
    text-align: center;
    padding: 10%;
    font-size: 20px;
}
/*.comicBlock a:link, .comicBlock a:visited, .comicBlock a:active*/.comicDisplay a:link, .comicDisplay a:visited{
    text-decoration: none;
    color: black;
}
#loginBox{
    background: white;
    box-shadow: 0 1px 2px #DCDCDC;
    width: 400px;
    height: 250px;
    margin: 60px auto;
    text-align:center;
}
#loginBox input{
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 24px;
    margin-top: 10px;
    text-align:center;
}

#loginBox button{
    width: 260px;
    margin-top: 10px;
    height: 32px;
}
