body {
    background: #F5F5F5;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    margin: 0;
}
#library {

}
.comicDisplay{
    width:80%;/*85%*/
    margin: 50px auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.comicBlock{
    background: white;
    box-shadow: 0 1px 2px #DCDCDC;
    padding-top: 2%;
}
.comicRow{
    vertical-align: top;
    margin-bottom: 25px;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    width:22.6%;
}
.comicPage{
    display: none;
    margin: 0 auto;
    height: 100%;
}
#comicReader{
    height: 100%;
}
.comicPage.active{
    display:block;
}
.comicBlock img {
    width: 95%;
    height: auto;
    display: block;
    /*margin-top: 2.5%;*/
    margin-left: auto;
    margin-right: auto;
}

.comicBlock .comicBlockInformation{
    text-align: center;
    padding: 10%;
    font-size: 20px;
}
/*.comicBlock a:link, .comicBlock a:visited, .comicBlock a:active*/.comicDisplay a:link, .comicDisplay a:visited{
    text-decoration: none;
    color: black;
}
#loginBox{
    background: white;
    box-shadow: 0 1px 2px #DCDCDC;
    width: 400px;
    height: 250px;
    margin: 60px auto;
    text-align:center;
}
#loginBox input{
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 24px;
    margin-top: 10px;
    text-align:center;
}

#loginBox button{
    width: 260px;
    margin-top: 10px;
    height: 32px;
}
progress{
    display: none;
}
progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

    height: 20px;
}
/*.comicContextMenu{
    background-color: white;
    width:150px;
    height:200px;
    display:none;
    position:absolute;
}
.position-fixed {
    position: fixed;
}*/
#comicContextMenu{
    position: fixed;
}
.open>.menu{
    display: block;
}
.menu{
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    /*border-radius: 4px;*/
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;

}
.menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.menu>li>a:hover, .menu>li>a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.menu>li>a:hover, .menu>li>a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
