body {
    background: #F5F5F5;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    margin: 0;
}
#mainMenu{
    width: 250px;
    background-color: black;
    position: fixed;
    height: 100%;
    top: 0;
    display:none;
}
#library {

}
.comicDisplay{
    margin: 100px auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.comicCard{
    background: white;
    box-shadow: 0 1px 2px #DCDCDC;
    vertical-align: top;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}
progress{
    display: block;
    margin: 0 auto;
}
progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

    height: 20px;
}
.comicDisplay a:link, .comicDisplay a:visited{
    text-decoration: none;
    color: black;
}
.imgHide{
    display: none !important;
}

#comicReader {
    background: black;
    min-height: 100vh;
}

#comicReader .comicImg{
    margin: auto;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}
#comicReader .comicImg.active{
    display:block;
}
.loadingScreen{
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;

}

#comicControlOverlay{
    z-index: 9999;
    position: relative;
}
#comicControlOverlay .pageControl{
    height: 100vh;
    position: fixed;
    opacity:0.0;
    filter:alpha(opacity=0);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#comicControlOverlay #previousPageControl {
    left: 0;
}

#comicControlOverlay #nextPageControl {
    right: 0;
}
@media all and (orientation: landscape) {
    #comicReader {
        background: yellow !important;
    }
}
@media (max-width: 640px) { /* Mobile and under */
    .comicDisplay {
        width: 90%;
    }
    .comicCard img {
        width: 20%;
        height: auto;
        display: block;
        float:left;
        margin: 1%;
    }
    .comicCard{
        width:100%;
        margin-bottom: 10px;
    }
    #comicReader .comicImg {
        width:100%;
    }

}
@media (min-width: 641px) { /* Mobile and over*/
    .comicDisplay{
        width:80%;
        max-width:1600px;
        min-height: 800px;
    }
    .comicCard{
        padding-top: 1%;
        margin-bottom: 25px;
    }
    .comicCard img {
        width: 95%;
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .comicCard .comicCardInformation{
        text-align: center;
        padding: 10%;
        font-size: 20px;
    }
    #comicReader .comicImg {
        max-width: 100%;
        max-height: 100%;
    }
}
@media (min-width: 641px ) and (max-width: 768px) { /* Mobile to iPad */
    .comicCard{
        width:47.6%;
    }

}
@media (max-width: 768px) { /* iPad and under */
    #comicControlOverlay .pageControl {
        width: 50%;
    }
}
@media (min-width: 769px ) { /* iPad and over */
    #comicControlOverlay .pageControl {
        width: 30%;
    }
    #comicControlOverlay #previousPageControl {
        background: url("../images/left-chevron.png") no-repeat center center !important;
    }

    #comicControlOverlay #nextPageControl {
        background: url("../images/right-chevron.png") no-repeat center center !important;
    }

    #comicControlOverlay #previousPageControl:hover, #comicControlOverlay #nextPageControl:hover {
        opacity: 1.0;
        filter: alpha(opacity=100);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
}
@media (min-width: 769px ) and (max-width: 1199px) {/* Tablet to Laptop */
    .comicCard{
        width:30.6%;
    }

}
@media (min-width: 1200px) { /*Desktop and above*/
    .comicCard{
        width:22.6%;
    }
    #comicReader {

    }
}