@include breakup-breakpoint('desktop') {
  #comicReader {
    //background: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
  }

  #comicReader .comicImg{
    margin: auto;
    display: none;
    height: 100%;
    //cursor: pointer;
    @include grab-cursor;
  }
  #comicReader .comicImg.grab{
    @include grabbing-cursor;
  }
  #comicReader .comicImg.active{
    display:block;
    //transform-origin: left top 0px;
    //@include transition(transform, 0.5s, ease-in-out);
  }

}