/**
* _tablet
*
* Styles for Tablet Devices
*/

@include breakup-breakpoint('tablet') {

  #comicReader {
    .comicImg {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      &.tabletFillWidth {
        width: 100%;
        height: auto;
      }
      &.tabletFillHeight {
        height: 100%;
        width: auto;
      }
    }
  }
}
