/**
 * Base styling.
 */
.menu{
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  height: 60px;
  border-bottom: solid 2px #DCDCDC;
  z-index: 9999;
  ul {
    padding: 0;
    list-style-type: none;
  }
  a:hover{
    color: $link-colour;
  }
}