<a ng-href="{{url}}">
    <div class='comicBlock'>
        <img img-fallback ng-src="{{imageUrl}}"/>
        <div class='comicBlockInformation'>{{information}}</div>
		<progress ng-hide="!uploadProgress" value="{{uploadProgress}}" max="100"></progress>
    </div>
</a>

<!--<a ng-href="{{'s/' + thisSeries.id}}">
    <div class='comicBlock'>
        <img ng-src="{{imageUrl}}"/>
        <div class='comicBlockInformation'>{{thisSeries.series_title +' (' + thisSeries.series_start_year +')'}}</div>
        <progress value="" max="100">{{progressAverage}}</progress>
    </div>
</a>-->
