<a ng-href="s/{{thisSeries.id}}">
    <div class='comicCard'>
        <img class="comicHoldingImage" src="../app/images/comicHolder.gif">
        <comic-cover-img image-id="{{thisSeries.comics[0].comic_collection[1]}}"></comic-cover-img>
        <div class='comicCardInformation'>{{thisSeries.series_title}} ({{thisSeries.series_start_year}})</div>
        <progress ng-hide="!uploadState.progressAverage(thisSeries.id)" value="{{uploadState.progressAverage(thisSeries.id)}}" max="100"></progress>
    </div>
</a>
