## html5 pushstate (history) support:
#<ifModule mod_rewrite.c>
#    RewriteBase /Comic-Cloud-Client/app
#    RewriteEngine On
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond %{REQUEST_URI} !index
#    RewriteCond %{REQUEST_URI} !.*\.(css¦js|html|png)
#    RewriteRule (.*) index.html [L]
#</ifModule>

#RewriteEngine on
#
## Don't rewrite files or directories
#RewriteCond %{REQUEST_FILENAME} -f [OR]
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule ^ - [L]
#
## Rewrite everything else to index.html to allow html5 state links
#RewriteRule ^ index.html [L]

#<ifModule mod_rewrite.c>
#
#    RewriteEngine On
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond %{REQUEST_URI} !index
#    RewriteRule (.*) index.html [L]
#</ifModule>

#http://dev.atomichael.com/Comic-Cloud-Client/app/library
