/**
 * _base
 *
 * Base styles given to all pages
 */
body {
  background: $cc-background;
  font-family: $cc-fonts;
  margin: 0;


  a, a:link, a:visited {
    text-decoration: none;
    color: black;
  }


  .imgHide {
    display: none !important;
  }
}
