<div id="library" class="comicDisplay" ng-file-drop="onFileSelect($files)" ng-click="clearSelection($event)">
    <div data-ng-repeat="thisSeries in series | orderBy:'series_title'" class="comicRow" id="series_{{thisSeries.id}}">
        <div data-comic-card
             data-url="'s/' + thisSeries.id"
             data-information="thisSeries.series_title +' (' + thisSeries.series_start_year +')'"
             data-image-url="env_var.urlBase + thisSeries.comics[0].comic_collection[1] + '/thumbnail?access_token=' + cookies.access_token"
             data-series-title='{{thisSeries.series_title}}'
             data-series-id="thisSeries.id"
             data-upload-progress="uploadState.progressAverage(thisSeries.id)"
             ng-right-click="{{thisSeries.id}}"
             ng-click="highlight($event, thisSeries.id)"
             class="comicContainer">
            <!--progressAverage(thisSeries.id)-->
        </div>
    </div>
</div>
<div ng-click="addSeries()">addSeries</div>
        {{currentUploads}}
<div id="comicContextMenu">
    <ul class="menu">
        <li>
            <a ng-click="openEditModal()">Edit Series</a>
        </li>
        <li>
            <a ng-click="openDeleteModal()">Delete Series</a>
        </li>
    </ul>
</div>
<div class="editPanel" ng-hide="panelVisibility" edit-series-panel></div>