<div id="series" class="comicDisplay" ng-file-drop="onFileSelect($files)">
    <div data-ng-repeat="comic in series.comics| orderBy: 'comic_issue'" class="comicRow" id="comic_{{comic.id}}">
        <div data-comic-card
             data-url="'c/' + comic.id"
             data-information="'#' + comic.comic_issue"
             data-image-url="env_var.urlBase + comic.comic_collection[1] + '/350?access_token=' + cookies.access_token"
             data-upload-progress="currentUploads[series.id]['comics'][comic.id]['progress']"
             ng-right-click="{{comic.id}}"
             class="comicContainer">
         </div>
    </div>
</div>
<div id="comicContextMenu">
    <ul class="menu">
        <li>
            <a ng-click="openEditModal()">Edit Comic</a>
        </li>
        <li>
            <a ng-click="openDeleteModal()">Delete Comic</a>
        </li>
    </ul>
</div>
<div class="editPanel" ng-hide="true" edit-comic-panel></div>